body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    gap: 10px;
}

.square {
    background-color: white;
    height: 50px;
    width: 50px;;
    font-size: x-large;
    text-align: center;
}

.board-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play-button {
    display: block;
}